# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/tesp-mac-web.iml
/.idea/vcs.xml

# Strapi & backend artifacts
/my-strapi-project/.cache/
/my-strapi-project/build/
/my-strapi-project/dist/
/my-strapi-project/.tmp/
/my-strapi-project/.cache-loader/
/my-strapi-project/.cache
/my-strapi-project/.env
/my-strapi-project/.env.*
/my-strapi-project/public/uploads/
/my-strapi-project/node_modules/

# Logs
.log
.tmp
.temp